<html>
	<head>
		<title>Upload page</title>

        <style>
            body {
                font-family: arial, sans-serif;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(e) {

                $('#submit_orders').click(function(e) {
                    e.preventDefault();
                
                    var config = $('input[name=order_type]:checked').val();
                    if (!config) {
                        e.preventDefault();
                        alert("Please select a configuration: Steaks or Tamales.");
                        return;
                    }

                    var files = $('#orders_file').prop('files');
                    if (files.length == 0) {
                        e.preventDefault();
                        alert("Please attach your BigCommerce CSV export.");
                        return;
                    }

                    var email = $('#email').val().trim();
                    if (!email) {
                        e.preventDefault();
                        alert("Please enter your email address.");
                        return;
                    }

                    $.ajax({
                        url: '/process_orders',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: new FormData(document.getElementById('process_orders_form')),
                        type: 'post',
                        success: function(data) {
                            if (data == 'not logged in') {
                                window.location.href = '/';
                            }
                            
                            else {
                                console.log(data);
                            }
                        },
                        error: function(a,b,c) { 
                            alert(a + b + c);
                            console.error(a,b,c); 
                        },
                    });
                });


                $('.download-current-file').click(function(e) {
                    e.preventDefault();
                    var file = $(this).siblings('[type=file]').attr('name');
                    document.getElementById('iframe_for_downloading').src = '/download_config/' + file;
                });

            });
        </script>
	</head>

	<body>
        <h1>Process Orders</h1>

        <form id="process_orders_form">
            <strong>1) Select configuration:</strong>
            <input type="radio" name="order_type" value="steaks">Steaks
            <input type="radio" name="order_type" value="tamales">Tamales
            <br><br>

            <strong>2) Attach your BigCommerce CSV export: </strong>
            <input type="file" id="orders_file"  accept=".csv">
            <br><br>

            <strong>3) Enter your email: </strong>
            <input type="email" id="email" value="ross.sharma86@gmail.com" />
            <br><br>

            <strong>4) Submit:</strong>
            <input type="submit" value="Submit" id="submit_orders">
        </form>

        <br>
        <hr>
        <h1>Configure</h1>

        Products - Steaks
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="products_steaks"  accept=".csv">
            <input type="submit" value="Upload">
            <a class="download-current-file" href="#">Download current file</a>
        </form>

        Combos - Steaks
        <form method="POST" action="/upload" enctype="multipart/form-data";>
            <input type="file" name="combos_steaks"  accept=".csv">
            <input type="submit" value="Upload">
            <a class="download-current-file" href="#">Download current file</a>
        </form>

        <br><br>

        Products - Tamales
        <form method="POST" action="/upload" enctype="multipart/form-data";>
            <input type="file" name="products_tamales"  accept=".csv">
            <input type="submit" value="Upload">
            <a class="download-current-file" href="#">Download current file</a>
        </form>

        Combos - Tamales
        <form method="POST" action="/upload" enctype="multipart/form-data";>
            <input type="file" name="combo_tamales"  accept=".csv">
            <input type="submit" value="Upload">
            <a class="download-current-file" href="#">Download current file</a>
        </form>

        <iframe id="iframe_for_downloading" style="display:none;"></iframe>

        <script type="text/javascript">
            var msg = "{{ text }}";
            if (msg) {
                alert(msg);
                window.location.href="/upload";
            }
        </script>
	</body>

</html>
